<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titlePres}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
    <h2>Mi chiamo {{name}}{{surname}}</h2>
    <p>Ho {{age}} anni, e i miei hobbies sono: {{hobbies}}</p>
    {{> hero}}
    <form action="/login" method="POST">
        <label>Come ti chiami?</label>
        <input type="text" name="name">
        <button type="submit">Invia</button>
    </form>
    {{> footer}}
</body>
</html>